<!--============= Header Section Starts Here =============-->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="index.html">
                    <img src="./assets/images/logo/logo.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="payout-rates.html">Payout Rates</a>
                </li>
                <li>
                    <a href="faq.html">Faq</a>
                </li>
                <li>
                    <a href="#0">Blog</a>
                    <ul class="submenu">
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="blog-single.html">Blog Single</a>
                        </li>
                    </ul>
                </li>
                <li class="d-sm-none text-center">
                    <a href="sign-in.html" class="header-button active">Login</a>
                </li>
                <li class="d-sm-none text-center">
                    <a href="sign-up.html" class="mb-4 header-button">Register</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none mr-sm-3">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-right">
                <a href="sign-in.html" class="header-button d-none d-sm-inline-block m-0 active">Login</a>
                <a href="sign-up.html" class="header-button d-none d-sm-inline-block m-0">Register</a>
            </div>
        </div>
    </div>
</header>
<!--============= Header Section Ends Here =============-->